DEFAULT_LLM_MODEL_SECRET_KEY=
GITHUB_TOKEN=
START_CONVERSATION_ON_LOGIN=

PROXY_TARGET_PROTOCOL=http   # e.g., http or https
PROXY_HOST=proxy.example.com # e.g., proxy.example.com
PROXY_PORT=443               # e.g., 443
